<div class="container container-pageComic">

    <sub-header></sub-header>

    <div class="main">
        <search></search>
        <div class="comic" ng-if="isSearching == false">
            <div class="img">
                <img class="comic-img" src="{{comic.thumbnail.path}}/portrait_uncanny.{{comic.thumbnail.extension}}">
            </div>
            <div class="info">
                <h1 class="title">{{comic.title}}</h1>

                <p class="creators" ng-repeat="creator in comic.creators.items">
                    <span class="role">{{creator.role}}</span> : <span ng-click="goCreator(creator.name)" class="name">{{creator.name}}</span>
                </p>

                <p class="description">{{comic.description}}</p>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</div>