<div class="searchResult" ng-show="isSearching">
    <h1>Search Results</h1>

    <div class="refine">
        <md-checkbox class="check-refine comics" ng-model="search.comics" aria-label="Comics" ng-init="search.comics = true">
            Comics
        </md-checkbox>

        <md-checkbox  class="check-refine creators" ng-model="search.creators" aria-label="Creators" ng-init="search.creators = true">
            Creators
        </md-checkbox>
    </div>



    <div class="card-comics" ng-if="search.comics && searchResponseComics.length > 0">
        <h2>Comics</h2>
        <md-content class="comicsContent md-padding">

            <md-card class="comic" ng-repeat="response in searchResponseComics track by $index">
                <img class="event-img" src="{{response.thumbnail.path}}/portrait_uncanny.{{response.thumbnail.extension}}" ng-click="goComic(response)">
                <md-card-content>
                    <h2 class="md-title title">{{response.title}}</h2>
                    <p class="description">{{response.description}}</p>

                    <md-button class="see-more" ng-click="goComic(response)">See More</md-button>
                </md-card-content>
            </md-card>

        </md-content>

        <md-button class="load" ng-click="load()"><span class="glyphicon glyphicon-menu-down"></span></md-button>
    </div>

    <div class="card-creators" ng-if="search.creators && searchResponseCreators.length > 0">
        <h2>Creators</h2>
        <md-content class="creatorsContent md-padding">

            <md-card ng-if="response.comics.available !== 0 && response.series.available !== 0 && response.stories.available !== 0" ng-repeat="response in searchResponseCreators" ng-click="goCreator(response)">
                <md-card-content>
                    <h2 class="md-title fullName">{{response.fullName}}</h2>
                </md-card-content>
            </md-card>

        </md-content>

        <md-button class="load" ng-click="load()"><span class="glyphicon glyphicon-menu-down"></span></md-button>
    </div>
</div>