<header>
    <div class="title" ng-click="goHome()">
        <img src="assets/images/Marvel_Header.png">
    </div>
    <div class="search">
        <form ng-submit="searchBy(searchValue)">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <input class="input-search" type="search" placeholder="{{'search' | translate}}" ng-model="searchValue">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="searchValue=''"></span>

            <md-button class="validSearch" ng-click="searchBy(searchValue)">
                <span class="search-txt">Search</span>
            </md-button>
        </form>

    </div>
    <div class="lock-size" layout="row" layout-align="center center">
        <md-fab-speed-dial  md-direction="down" ng-class="md-scale">

            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <md-button aria-label="fr" class="md-fab md-raised md-mini" ng-click="changeLanguage('fr-FR')">
                    {{'FR' | translate}}
                </md-button>
                <md-button aria-label="en" class="md-fab md-raised md-mini" ng-click="changeLanguage('en-EN')">
                    {{'EN' | translate}}
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <md-subheader class="subheader md-primary">
        <md-button class="subheader-button" ng-click="goToComics()">Comics</md-button>
        <md-button class="subheader-button" ng-click="goToCreators()">Creators</md-button>
        <md-button class="subheader-button" ng-click="goToEvents()">Events</md-button>
        <span class="triangle"></span>
    </md-subheader>
</header>