<div class="container container-home">

    <sub-header></sub-header>


    <div class="main">
        <search></search>

        <div class="intro" ng-show="isSearching == false">
            <p>Marvel X Amplitude is a database on which you can browse through the whole Marvel catalogue.</p>
            <p>You can either search by comic's title or by author</p>
            <p>An author's page is divided between comics, series and stories, depending on what said author has worked on.</p>
            <p>Each comics' page shows a synopsis of the issue, it's number and the people who worked on it.</p>
        </div>

        <div class="events" ng-show="isSearching == false">
            <div class="event">
                <md-content class="md-padding">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab class="tab" label="{{event.title}}" ng-repeat="event in events | limitTo:8">
                            <md-content class="md-padding">
                                <div class="img">
                                    <img class="event-img" src="{{event.thumbnail.path}}.{{event.thumbnail.extension}}" ng-click="goEvent(event)">
                                </div>
                                <div class="description">
                                    <p>{{event.description}}</p>
                                </div>
                            </md-content>
                            <md-button class="see-more" ng-click="goEvent(event)">See More</md-button>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>

    </div>

    <footer>Data provided by Marvel. © 2015 MARVEL</footer>

</div>
