@import "values";

/**
 * Trans style in all the application
 */

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    // ROOT FONT SIZE
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: url('../assets/images/blizzard.png') repeat;

}

body{
    // Set the background webview to white (Kiwapp requirement)
    background: white;
    margin: 0;
    background: url('../assets/images/blizzard.png') repeat;
}

a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input, textarea {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

// The wrapper for all the contents, position absolute top, left, right, bottom 0 will put this div in full screen mode
.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    background: url('../assets/images/debut_light.png') repeat;
    font-family: 'Esphimere';

    header {
        background-color: black;

        width: 100%;
        height: 135px;

        position: fixed;

        z-index: 1;
        .title {
            display: inline-block;

            margin-left: 25px;

            position: relative;
        }

        .search {
            display: inline-block;
            width: 50%;

            position: absolute;
            top: 15px;
            margin-left: 35px;
            float: right;

            .glyphicon-search {
                position: relative;
                float: left;

                top: 30px;
                left: 10px;

                font-size: 1.5rem;
                color: white;
            }

            .glyphicon-remove {
                position: relative;
                float: right;

                top: -30px;
                right: 10px;

                font-size: 1.5rem;
                color: white;
            }

            .validSearch {
                background-color: $primaryRed;
                color: white;

                position: relative;
                float: right;
                height: 40px;

                padding: 10px;
                bottom: 46px;
                left: 175px;

                text-align: center;
            }

            input {
                display: block;
                padding: 8px 8px 8px 72px;
                box-shadow: 0px 1px 1.5px rgba(0,0,0,0.06),0px 1px 1px rgba(0,0,0,0.12);
                width: 100%;
                background: $primaryRed;
                height: 40px;
                -webkit-transition: all 200ms ease;
                transition: all 200ms ease;
                border: none;
                font-size: 16px;
                appearance: textfield;
                font-weight: 300;
                outline: none;
                border-radius: 3px;
                color: #ffffff;

                &::-webkit-input-placeholder {
                    color: white;
                    font-size: 1.5rem;
                }
            }

            input:focus {
                border: none;
                color: white;
                font-size: 1.5rem;
            }

            input[type="search"] {
                -webkit-appearance: none;
            }

            input[type="search"] {
                box-sizing: border-box;
            }
        }

        .lock-size {
            position: relative;
            float: right;

            top: 20px;
            right: 10px;

            md-fab-speed-dial {
                md-fab-trigger {
                    .md-fab {
                        background-color: $primaryRed;
                    }

                    .md-fab:hover {
                        background-color: $primaryRed;
                    }
                }
            }
        }

        .subheader {
            height: 30px;
            margin: 0px;
            position: fixed;
            top: 135px;

            background-color: $primaryRed;

            .subheader-button {
                position: relative;
                bottom: 25px;
                color: #ffffff;
            }

            .triangle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 31px 33px 0 0;
                border-color: $primaryRed transparent transparent transparent;

                position: relative;
                float: right;
                left: 32px;
                bottom: 17px;
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background-color: #000000;
        color: white;
    }

    .searchResult {
        margin: 25px;
        margin-top: 150px;

        .card-comics {
            background: none;
            margin: 0 auto;

            .comicsContent {
                background: none;
            }

            .comic {
                width: 250px;
                display: inline-block;
                background: white;

                .title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 25px;
                }

                .description {
                    height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 10px;
                }

                .see-more {
                    float: right;
                }

                .see-more:hover {
                    background-color: #000000;
                    color: white;
                }
            }
        }

        .card-creators {
            background: none;
            margin-bottom: 100px;

            .creatorsContent {
                background: none;
            }

            .fullName:hover {
                color:$primaryRed !important;
            }

        }
    }

    .load {
        background-color: $primaryRed;
        color: #ffffff;
        position: relative;
        left: 45%;
        font-size: 2rem;
        width: 150px;
        padding: 10px;
    }

    .load:hover {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #000000;
    }

}

