.container.container-events {
    header {
        top: 0;
    }

    .main {
        padding: 25px;
        .card-comics {
            background: none;
            margin: 0 auto;
            margin-top: 150px;

            .comicsContent {
                background: none;
            }

            .title-events {
                font-size: 2.5rem;
            }

            .comic {
                width: 250px;
                display: inline-block;
                background: white;
                margin: 20px;

                .title {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 25px;
                    text-align: center;
                    font-weight: bold;
                }

                .description {
                    height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }

                .see-more {
                    float: right;
                }

                .see-more:hover {
                    background-color: #000000;
                    color: white;
                }
            }

            .load {
                margin-bottom: 100px;
            }
        }
    }
}